﻿
@model LawOffice.ViewModels.ClientDetails

@{
    ViewBag.Title = "Details";
}

<h2>Подбробная информация о клиенте</h2>

<div>
    <hr />
    <dl class="dl-horizontal h4">
        <dt style="width: 250px; margin-right:10px">
            @Html.DisplayNameFor(model => model.Client.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Surname)
        </dd>

        <dt style="width: 250px; margin-right:10px">
            @Html.DisplayNameFor(model => model.Client.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Name)
        </dd>

        <dt style="width: 250px; margin-right:10px">
            @Html.DisplayNameFor(model => model.Client.Patronymic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Patronymic)
        </dd>

        <dt style="width: 250px; margin-right:10px">
            @Html.DisplayNameFor(model => model.Client.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.DateOfBirth)
        </dd>

        <dt style="width: 250px; margin-right:10px">
            @Html.DisplayNameFor(model => model.Client.PassportSeries)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.PassportSeries)
        </dd>

        <dt style="width: 250px; margin-right:10px">
            @Html.DisplayNameFor(model => model.Client.PassportNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.PassportNumber)
        </dd>

        <dt style="width: 250px; margin-right:10px">
            @Html.DisplayNameFor(model => model.Client.PlaceOfResidence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.PlaceOfResidence)
        </dd>

        <dt style="width: 250px; margin-right:10px">
            @Html.DisplayNameFor(model => model.Client.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Email)
        </dd>

    </dl>
</div>


<h2>Дела</h2>

<table class="table h4">
    <tr>
        <th class="text-center">
            <label>Номер</label>
        </th>
        <th class="text-center">
            <label>Дата открытия</label>
        </th>
        <th class="text-center">
            <label>Дата закрытия</label>
        </th>
        <th class="text-center">
            <label>Статус</label>
        </th>
        <th class="text-center">
            <label>Результат</label>
        </th>
        <th class="text-center">
            <label>Стоимость (рублей)</label>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Cases)
    {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.OpeningDate)
            </td>
            <td class="text-center">
                @if (item.CaseStatusId == 2)
                {
                    @Html.DisplayFor(modelItem => item.ClosingDate)
                }
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.CaseStatus.Name)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.CaseResult.Name)
            </td>
            <td class="text-center">
                @if (item.Costs != 0)
                {
                    @Html.DisplayFor(modelItem => item.Costs)
                }
            </td>
            <td class="text-center">
                @Html.ActionLink("Подробности", "Details", "Cases", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>
@if (User.IsInRole("Administrator"))
{
    <p>
        @Html.ActionLink("Редактировать персональные данные", "Edit", new { id = Model.Client.Id }) |
        @Html.ActionLink("Вернуться к списку клиентов", "Index")
    </p>
}