﻿@model IEnumerable<LawOffice.Models.Client>

@{
    ViewBag.Title = "Index";
}

<h2>Клиенты</h2>

<p>
    @Html.ActionLink("Загрузить свежие данные с сервера", "LoadFromAPI")
</p>
<p>
    @Html.ActionLink("Добавить нового клиента", "Create")
</p>
<table class="table">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th width="185" class="text-center">
            @Html.DisplayNameFor(model => model.Patronymic)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.PassportSeries)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.PassportNumber)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.PlaceOfResidence)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Patronymic)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.PassportSeries)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.PassportNumber)
        </td>
        <td class="text-justify">
            @Html.DisplayFor(modelItem => item.PlaceOfResidence)
        </td>
        <td class="text-center">
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Id })
            @Html.ActionLink("Подробности", "Details", new { id=item.Id })
        </td>
    </tr>
}
</table>