﻿@model LawOffice.ViewModels.CaseDetails

@{
    ViewBag.Title = "Details";
}

<h2>Подробная информация о деле</h2>

<div>
    <hr />
    <dl class="dl-horizontal h4">
        <dt style="width:200px;margin-right:10px">
            @Html.DisplayNameFor(model => model.Case.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Case.Number)
        </dd>

        <dt style="width:200px;margin-right:10px">
            <label style="margin:0">ФИО клиента</label>
        </dt>

        <dd>
            <p style="margin:0">@Model.Case.Client.Surname @Model.Case.Client.Name @Model.Case.Client.Patronymic</p>
        </dd>

        <dt style="width:200px;margin-right:10px">
            @Html.DisplayNameFor(model => model.Case.CaseStatus.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Case.CaseStatus.Name)
        </dd>

        <dt style="width:200px;margin-right:10px">
            @Html.DisplayNameFor(model => model.Case.CaseResult.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Case.CaseResult.Name)
        </dd>

        <dt style="width:200px;margin-right:10px">
            @Html.DisplayNameFor(model => model.Case.OpeningDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Case.OpeningDate)
        </dd>

        <dt style="width:200px;margin-right:10px">
            @Html.DisplayNameFor(model => model.Case.ClosingDate)
        </dt>

        <dd>
            @if (Model.Case.CaseStatusId == 2)
            {
                @Html.DisplayFor(model => model.Case.ClosingDate)
            }
        </dd>

        <dt style="width:200px;margin-right:10px">
            @Html.DisplayNameFor(model => model.Case.Costs)
        </dt>

        <dd>
            @if (Model.Case.Costs > 0)
            {
                @Html.DisplayFor(model => model.Case.Costs)
            }
        </dd>

    </dl>
</div>

<h2>Адвокаты, занятые в деле</h2>

<table class="table h4">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Lawyers.First().Surname)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Lawyers.First().Name)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Lawyers.First().Patronymic)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Case.Lawyers)
    {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
        </tr>
    }
</table>

<h2>Юридические процедуры по делу</h2>

<table class="table h4">
    <tr>
        <th class="text-center">
            <label>Дата оказания</label>
        </th>
        <th class="text-center">
            <label>Результат оказания</label>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.CaseLegalProcedures)
    {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Result)
            </td>
        </tr>
    }

</table>
<p>
    @if (User.IsInRole("Administrator") || User.IsInRole("Lawyer"))
    {
        if (Model.Case.CaseStatusId == 1)
        {
            @Html.ActionLink("Редактировать информацию о деле", "Edit", new { id = Model.Case.Id })
        }
    }
</p>