﻿@model LawOffice.Models.Case

@{
    ViewBag.Title = "Edit";
}

<h2>Редактировать данные дела</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Number)
    @Html.HiddenFor(model => model.ClientId)
    @Html.HiddenFor(model => model.OpeningDate)

    <div class="form-horizontal h4">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="padding-top: 7px">
                @Html.DisplayFor(model => model.Number)
                @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OpeningDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="padding-top: 7px">
                @Html.DisplayFor(model => model.OpeningDate)
                @Html.ValidationMessageFor(model => model.CaseResultId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CaseResultId, "Результат", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CaseResultId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CaseResultId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить изменения" class="btn btn-success" />
            </div>
        </div>
    </div>
}

@if (User.IsInRole("Administrator"))
{
    <p>
        @Html.ActionLink("Назначить дополнительного адвоката", "Add", "Lawyers", new { id = Model.Id }, null)
    </p>
}

<p>
    @Html.ActionLink("Добавить новую процедуру", "Create", "CaseLegalProcedures", new { id = Model.Id }, null)
</p>

@if (User.IsInRole("Administrator"))
{
    <div>
        @Html.ActionLink("Вернуться к списку дел", "Index")
    </div>
}
@if (User.IsInRole("Lawyer"))
{
    <div>
        @Html.ActionLink("Назад", "Details", new { id = Model.Id })
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
