﻿@model IEnumerable<LawOffice.Models.Case>

@{
    ViewBag.Title = "Index";
}

<h2>Дела</h2>

<p>
    @Html.ActionLink("Загрузить свежие данные с сервера", "LoadFromAPI")
</p>
<table class="table">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.OpeningDate)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.ClosingDate)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.CaseStatus.Name)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.CaseResult.Name)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Costs)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.OpeningDate)
            </td>
            <td class="text-center">
                @if (item.CaseStatusId == 2)
                {
                    @Html.DisplayFor(modelItem => item.ClosingDate)
                }
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.CaseStatus.Name)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.CaseResult.Name)
            </td>
            <td class="text-center">
                @if (item.Costs > 0)
                {
                    @Html.DisplayFor(modelItem => item.Costs)
                }
            </td>
            <td class="text-center">
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Подробности", "Details", new { id = item.Id })
            </td>
        </tr>
    }

</table>