﻿@{
    ViewBag.Title = "Profile";
}

<h2>Настройки учетной записи</h2>

<hr />

<div class="row">
    <div class="col-md-6">
        <h2 class="text-center">Личные данные</h2>
        <p>
            В этом разделе Вы сможете редактировать данные учетной записи
        </p>
        <p><a class="btn btn-primary" href="ChangeProfile">Перейти &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2 class="text-center">Смена пароля</h2>
        <p>В этом разделе Вы сможетe сменить пароль</p>
        <p><a class="btn btn-primary" href="ChangePassword">Перейти &raquo;</a></p>
    </div>
</div>