﻿@model IEnumerable<LawOffice.Models.Lawyer>

@{
    ViewBag.Title = "Index";
}

<h2>Назначить дополнительного адвоката</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal h4">
    <hr />
    @Html.Hidden("CaseId", ViewData["Id"])
    <div class="form-group">
        <label class="control-label col-md-2">Адвокат</label>
        <div class="col-md-10">
            @Html.DropDownList("LawyerId", ViewBag.LawyerId as SelectList, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Назначить адвоката" class="btn btn-success" />
        </div>
    </div>
</div>
}