﻿@model LawOffice.ViewModels.LawyerDetails

@{
    ViewBag.Title = "Details";
}

<h2>Подробная информация об адвокате</h2>

<div>
    <hr />
    <dl class="dl-horizontal h4">

        <dt style="width: 250px; margin-right:10px">
            @Html.DisplayNameFor(model => model.Lawyer.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lawyer.Surname)
        </dd>

        <dt style="width: 250px; margin-right:10px">
            @Html.DisplayNameFor(model => model.Lawyer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lawyer.Name)
        </dd>

        <dt style="width: 250px; margin-right:10px">
            @Html.DisplayNameFor(model => model.Lawyer.Patronymic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lawyer.Patronymic)
        </dd>

        <dt style="width: 250px; margin-right:10px">
            @Html.DisplayNameFor(model => model.Lawyer.LengthOfService)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lawyer.LengthOfService)
        </dd>

        <dt style="width: 250px; margin-right:10px">
            @Html.DisplayNameFor(model => model.Lawyer.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lawyer.Email)
        </dd>

    </dl>
</div>

<h2>Дела</h2>

<table class="table h4">
    <tr>
        <th class="text-center">
            <label>Номер</label>
        </th>
        <th class="text-center">
            <label>Дата открытия</label>
        </th>
        <th class="text-center">
            <label>Дата закрытия</label>
        </th>
        <th class="text-center">
            <label>Статус</label>
        </th>
        <th class="text-center">
            <label>Результат</label>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Cases)
    {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.OpeningDate)
            </td>
            <td class="text-center">
                @if (item.CaseStatusId == 2)
                {
                    @Html.DisplayFor(modelItem => item.ClosingDate)
                }
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.CaseStatus.Name)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.CaseResult.Name)
            </td>
            <td class="text-center">
                @Html.ActionLink("Подробности", "Details", "Cases", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>
@if (User.IsInRole("Administrator"))
{
    <p>
        @Html.ActionLink("Редактировать данные", "Edit", new { id = Model.Lawyer.Id }) |
        @Html.ActionLink("Вернуться к списку адвокатов", "Index")
    </p>
}