﻿@model IEnumerable<LawOffice.Models.Lawyer>

@{
    ViewBag.Title = "Index";
}

<h2>Адвокаты</h2>

<p>
    @Html.ActionLink("Загрузить свежие данные с сервера", "LoadFromAPI")
</p>
<p>
    @Html.ActionLink("Добавить нового адвоката", "Create")
</p>
<table class="table h4">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Patronymic)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.LengthOfService)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        if (item.LawyerStatus.Name == "Работает")
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Patronymic)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.LengthOfService)
                </td>
                <td class="text-center">
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Подробности", "Details", new { id = item.Id })
                </td>
            </tr>
        }
    }
</table>