﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Адвокатская контора</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Administrator"))
                    {
                        <li>@Html.ActionLink("Панель администратора", "Index", "Home")</li>
                        <li>@Html.ActionLink("Отчеты", "Report", "Home")</li>
                        <li>@Html.ActionLink("Регистрация адвоката", "RegisterLawyer", "Account")</li>
                    }
                    @if (User.IsInRole("Lawyer"))
                    {
                        <li>@Html.ActionLink("Просмотр информации о себе", "Details", "Lawyers")</li>
                    }
                    @if (User.IsInRole("Client"))
                    {
                        <li>@Html.ActionLink("Просмотр информации о себе", "Details", "Clients")</li>
                        <li>@Html.ActionLink("Прейскурант юридических процедур", "Index", "LegalProcedures")</li>
                    }
                    @if (!(User.IsInRole("Administrator") || User.IsInRole("Lawyer") || User.IsInRole("Client")))
                    {
                        <li>@Html.ActionLink("Регистрация", "Register", "Account")</li>
                        <li>@Html.ActionLink("Войти", "Login", "Account")</li>
                    }
                    @if (User.IsInRole("Administrator") || User.IsInRole("Lawyer") || User.IsInRole("Client"))
                    {
                        <li>@Html.ActionLink("Выйти", "LogOut", "Account")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Copyright © @DateTime.Now.Year - created by Mark Chuvanov</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
