﻿@{
    ViewBag.Title = "Home Page";
}
@if (User.IsInRole("Administrator"))
{
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-center">Клиенты</h2>
            <p>
                В этом разделе Вы сможете добавлять новых клиентов, просматривать и редактировать их персональные данные
            </p>
            <p><a class="btn btn-primary" href="Clients/">Перейти &raquo;</a></p>
        </div>
        <div class="col-md-6">
            <h2 class="text-center">Дела</h2>
            <p>В этом разделе Вы сможет просматривать данные о делах, а также редактировать информацию о них</p>
            <p><a class="btn btn-primary" href="Cases/">Перейти &raquo;</a></p>
        </div>
        <div class="col-md-6">
            <h2 class="text-center">Адвокаты</h2>
            <p>В этом разделе Вы сможете добавлять новых адвокатов, просматривать и редактировать их персональные данные</p>
            <p><a class="btn btn-primary" href="Lawyers/">Перейти &raquo;</a></p>
        </div>
        <div class="col-md-6">
            <h2 class="text-center">Юридические процедуры</h2>
            <p>В этом разделе Вы сможете поддерживать актуальным прейскурант процедур, оказание которых возможно в конторе</p>
            <p><a class="btn btn-primary" href="LegalProcedures/">Перейти &raquo;</a></p>
        </div>
    </div>
}
else
{
    <img style="width:500px; height:500px; margin-top:25px" src="~/Content/logo.jpg"/>
}