﻿@{
    ViewBag.Title = "Report";
}
<h2>Отчеты</h2>

<hr />
@using (Html.BeginForm())
{
    <div name="form" class="form-horizontal">
        <div class="form-group h4">
            <label class="control-label col-md-2">Тип отчета</label>
            @Html.DropDownList("typeId", ViewBag.types as SelectList, htmlAttributes: new { @class = "form-control" })
        </div>

        <div class="form-group h4">
            <label class="control-label col-md-2">Начало периода</label>
            <input type="date" name="startDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" />
        </div>

        <div class="form-group h4">
            <label class="control-label col-md-2">Конец периода</label>
            <input type="date" name="endDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" />
        </div>

        <div class="form-group h4">
            <label class="control-label col-md-2">Формат отчета</label>
            @Html.DropDownList("formatId", ViewBag.formats as SelectList, htmlAttributes: new { @class = "form-control" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сгенерировать" class="btn btn-success" />
            </div>
        </div>
    </div>
}