﻿@model IEnumerable<LawOffice.Models.LegalProcedure>

@{
    ViewBag.Title = "Index";
}

<h2>Прейкурант юридических процедур</h2>

<p>
    @Html.ActionLink("Загрузить свежие данные с сервера", "LoadFromAPI")
</p>
@if (User.IsInRole("Administrator"))
{
    <p>
        @Html.ActionLink("Добавить новую процедуру", "Create")
    </p>
}
<table class="table">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Costs)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Costs)
            </td>
            <td class="text-center">
                @if (User.IsInRole("Administrator"))
                {
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.Id })
                }
            </td>
        </tr>
    }

</table>
