﻿@model IEnumerable<LawOffice.Models.CaseLegalProcedure>

@{
    ViewBag.Title = "Index";
}

<h2>Юридические процедуры по делу</h2>

<p>
    @Html.ActionLink("Добавить новую процедуру", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Case.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LegalProcedure.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Result)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Case.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LegalProcedure.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Result)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Id })
        </td>
    </tr>
}

</table>